PUBLIC_API_URL=https://penguinlab-api.isairethebest.workers.dev
PUBLIC_STUDIO_URL=https://studio.penguinmod.com
PUBLIC_MAX_UPLOAD_SIZE=32 # in megabytes
PUBLIC_CAPTCHA_ENABLED=false # If this is false, it must also be false on API to function correctly.